* {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
    /* border: 0; */
    

    
}

body {
    color: #fff;
    background-color: rgb(129, 19, 19);
}

.splitBlock {
    display: flex;
}

.left-col {
    margin-left: 80px;
    width: 50%;
    height: 100vh;
    background-image: url(scene-spider-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.right-col {
    margin-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    width: 50%;
    height: 100vh;
    background-color: rgb(179, 186, 33);
}



h1{
    font-size: 60px;
    margin-bottom: 40%;
}

P {
    font-size: 40px;
}